.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns with equal width */
  gap: 10px; /* Space between grid items */
  padding: 20px; /* Optional padding around the grid container */
}

.grid-item {
  background-color: #2E5266FF;
  padding: 20px;
  text-align: center;
  border: 1px solid #3d523a;

}

.comparison-container {
  display: flex;
  justify-content: space-around; /* Adjust spacing between the forms */
  gap: 20px; /* Optional: Add gap between forms */
}

.vertical-form {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow each form to take equal space */
  max-width: 400px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #3d523a;
  border-radius: 5px;
  background-color: #6E8898FF;
}

.vertical-form input[type="text"],
.vertical-form input[type="number"] {
  padding: 6px;
  margin: 4px 0;
  box-sizing: border-box; /* Ensures padding is included in width */
  border: 2px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  background-color: #f8f8f8; /* Light background color */
  font-size: 14px; /* Adjust font size */
}

/* Change border color and shadow on focus */
.vertical-form input[type="text"]:focus,
.vertical-form input[type="number"]:focus {
  border-color: #4CAF50; /* Green border on focus */
  box-shadow: 0 0 8px 0 rgba(76, 175, 80, 0.5); /* Green glow */
  outline: none; /* Remove the default outline */
}

/* Button styling */
.vertical-form button[type="submit"] {
  background-color: #D3D0CBFF; /* Green background */
  color: black; /* White text */
  padding: 10px 15px; /* Padding around the text */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Adjust font size */
}

/* Button hover effect */
.vertical-form button[type="submit"]:hover {
  background-color: #9FB1BCFF; /* Darker green on hover */
}

.average-price {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f0f0; /* Light gray background */
  border: 2px solid #4CAF50; /* Green border */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center the text */
  font-size: 24px; /* Increase font size */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Dark text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}








